/* Init */
* {
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-style: normal;
}

/* Common */
.container {
  width: 1170px;
  max-width: calc(100% - 120px);
  margin: 0 auto;
}

body {
  background-color: #fffaf5;
}

a {
  text-decoration: none;
}

.btn {
  /* Button */
  --height: 50px;
  min-width: 117px;
  height: var(--height);
  line-height: var(--height);
  padding: 0 20px;
  text-align: center;
  border-radius: 25px;

  /* Text in button */
  color: #000958;
  font-size: 1.4rem;
  font-style: normal;
  font-weight: 600;

  /* Transition */
  transition: 0.21s;
}

.desc {
  color: #656689;
  font-size: 1.6rem;
  font-weight: 400;
}

/* ==================== Header ==================== */
.header {
  padding-top: 26px;
}

/* Header top */
.header-top__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  transition: 0.25s;
}

.header__logo:hover {
  transform: scale(1.05) translateY(-2px);
}

/* Navbar */
.nav-list {
  display: flex;
  column-gap: 36px;
}

.nav-item {
  padding: 8px 0;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0em;
  color: #5e6085;

  /* transition */
  transition: 0.2s;
}

.nav-item.active,
.nav-item:hover {
  color: #000958;
  text-shadow: 0.1px 0px 0px rgba(0, 0, 0, 0.55);
}

/* ==================== Hero ==================== */
.hero-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Hero media */
.hero {
  margin-top: 100px;
}

.hero-media {
  width: 47%;
  height: 582px;
  position: relative;
}

.hero-image-wrap--large {
  width: 388px;
  height: 488px;
  border: 3px solid #fff;
  border-radius: 16px;
  background: #fe997b;
  overflow: hidden;
}

.hero-image--large {
  position: relative;
  width: 388px;
  height: 488px;
  object-fit: contain;
  object-position: 60% 58px;
  scale: 2;
}

.hero-decor--01,
.hero-decor--02 {
  position: absolute;
  z-index: -1;
}

.hero-decor--01 {
  top: 16px;
  right: 112px;
}

.hero-decor--02 {
  bottom: 103px;
  left: -57px;
}

.hero-image-wrap--small {
  position: absolute;
  right: 0;
  bottom: 36px;
  width: 186px;
  height: 244px;
  border: 3px solid #f7dee0d1;
  border-radius: 16px;
  background: #faa7ad;
  overflow: hidden;
}

.hero-image--small {
  width: 186px;
  height: 244px;
  object-fit: contain;
  object-position: -18px 77px;
  scale: 2.2;
}

.pet-info {
  padding: 18px 14px;
  width: 250px;
  height: 156px;
  border-radius: 10px;
  background: #fff;
  box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
  position: absolute;
  bottom: 0;
  left: 129px;
}

.pet-info__item {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.pet-info__item:first-child {
  padding-bottom: 20px;
  border-bottom: 2px solid #f2f2f2;
}

.pet-info__item:last-child {
  margin-top: 20px;
}

.pet-info__avatar {
  width: 40px;
  height: 40px;
  object-fit: contain;
  border-radius: 10px;
  background: #fec23f;
}

.pet-info__avatar--blue {
  background: #c6e2fa;
}

.pet-info__content {
  color: #181e52;
  font-family: "Sora";
  font-size: 1.4rem;
  font-weight: 600;
  line-height: 1;
}

.pet-info__bar-01,
.pet-info__bar-02 {
  height: 4px;
  margin-top: 7px;
  border-radius: 10px;
  opacity: 0.08;
  background: #000958;
}

.pet-info__bar-01 {
  width: 118px;
}

.pet-info__bar-02 {
  width: 39px;
}

/* Hero content */
.hero-content {
  width: 44%;
}

.hero-slogan {
  max-width: 517px;
  color: #000958;
  font-family: "Sora";
  font-size: 6.6rem;
  font-weight: 800;
  line-height: 1.15;
}

.hero_desc {
  margin-top: 24px;
  max-width: 391px;
}

.hero-cta-group {
  margin-top: 38px;
  display: flex;
  align-items: center;
  column-gap: 24px;
}

.hero-btn {
  --height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 189px;
  border-radius: 31px;
  background: #ff5b2e;

  /* Text */
  color: #fff;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
}

.hero-btn:hover {
  box-shadow: 0px 13px 26px -8px rgba(255, 91, 46, 0.42);
}

.hero-circle--inside {
  margin-left: 7px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #fffaf5;
  outline: none;
  border: none;
}

.hero-circle--inside:hover {
  cursor: pointer;
}

.hero-call {
  color: #000958;
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1;
  text-decoration-line: underline;
}
